<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Relatório mensal malha noturna</title>
        <style></style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="left" valign="top">
                    <table border="0" cellpadding="20" cellspacing="0" width="900" id="emailContainer">
                        <tr>
                            <td align="left" valign="top">
                                <p>Bom dia,</p>
                                <br/>
                                <p>Seguem as ocorrências registradas do dia <b>{{ dataInicio }}</b> ao <b>{{ dataFim }}</b>: </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="padding:0px">
                            <table border="1" cellpadding="10" cellspacing="0" width="100%" id="logs">
                            <tr>
                                <th>Data</th>
                                <th>Nível</th>
                                <th>Area</th>
                                <th>Chamado</th>
                                <th>Tipo</th>
                                <th>Job</th>
                                <th>Detalhes</th>
                            </tr>
                            {% for reg in logs %}
                            <tr>
                                <td>{{ reg.getDataHoraCriacaoFormatado() }}</td>
                                <td>{{ reg.getNivel() }}</td>
                                <td>{{ reg.getUsuario().getArea() }}</td>
                                <td>{{ reg.getIncidente() }}</td>
                                <td>{{ reg.getTipo() }}</td>
                                <td>{{ reg.getJob() }}</td>
                                <td>{{ reg.getDescricao() }}</td>
                            </tr>
                            {% endfor %}
                            </table>
                            </td>
                        </tr>
                           
                    </table>
                </td>
            </tr>
        </table>
        
        <div style='font-family:arial,helvetica,sans-serif;font-size:9pt;' id='tpl_normal_20190528171607' >
			<br />
			<br />
			<table cellpadding='0' cellspacing='0' width='680px' border='0' style='border:0;table-layout:auto;font-family: arial,helvetica,sans-serif;white-space:normal;width:650px;font-size:7pt'>
			<tbody>
				<tr>
					<td style='vertical-align: bottom;'>
						<div style='font-size:9pt'>Atenciosamente/Regards,</div>
						<br/>
						<div style="margin:8px 0 8px 0" class="vcard">
						<b style='color:#888888;font-size:12pt' class='fn n'>
							<span class="given-name">Sustentação IBM</span>					
						</b>				
						<br />
						<span style="font-size:9pt">Global Business Services</span>
						<br />
					</td>
				</tr>
			</tbody>
			</table>
			
			<table cellpadding='0' cellspacing='0' width='680px'  border='0'style='border:0;table-layout:auto;white-space:normal;color:#5f5f5f;width:650px;font-size:7pt'>
			<tbody>
				<tr>
					<td colspan='3'><hr style='border:0;color:#696969;background-color:#696969;height:1px;' />
					</td>
				</tr>
			<tr>
				<td width="450px" style="vertical-align: top;font-family:arial,helvetica,sans-serif">
					<span>
						<span class='tel'>
							<span style='color:#466BB0;font-weight:bold;font-size:7pt'>
								<abbr style='font-size:7pt' class='type' title='cell'>Mobile:</abbr>
							</span>
							<span class='value' style='font-size:7pt;'>55-11-995247059</span>
						</span>							
					</span>
					<br />
					<span >
						<span style='color:#466BB0;font-weight:bold;font-size:7pt;'>E-mail:</span>
						<a class='email' href='mailto:ibmporto@br.ibm.com' target='_blank'>
						<span style='color:#5f5f5f;font-size:7pt;' class='value'>ibmporto@br.ibm.com</span>
						</a>
					</span>
					<br />
				</td>
				<td  align='right' width='150px' style='vertical-align: top;font-family:arial,helvetica,sans-serif'>
					<img class='org' alt='IBM' src='http://esign.webmaster.ibm.com/img/ibm3.gif' width='83' height='30' style='border:none;' />
					<br />
					<br />
					<span class="adr" style="font-size:7pt">
					<abbr class="type" title="work" />
					<span class="country-name" style="font-size:7pt">Brazil</span>
					</span>
				</td>
			</tr>
		</tbody>
		</table>		
		</div>
    </body>
</html>